<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ board_name }}</title>
    <h1>{{ board_name }}</h1>
    <hr>

    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>날짜</th>
        </tr>
        </thead>
        <tbody>
        <!-- 반복되는 구간 -->
        {% for detail in board_detail.items %}
            <tr>
                <th>{{ loop.index }}</th>
                <td><a href="{{ detail.index }}">{{ detail.title }}</a></td>
                <td>{{ detail.name }}</td>
                <td>{{ detail.date }}</td>
            </tr>
        {% endfor %}
        <!-- 반복되는 구간 끝 -->
        </tbody>
    </table>
    <ul class="pagination justify-content-center">
        <!-- 이전 페이지 -->
        {% if board_detail.has_prev %}
            <li class="page-item">
                <a class="page-link" href="?page={{ board_detail.prev_num }}">이전</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
            </li>
        {% endif %}
        <!-- 중간 페이지 -->
        {% for page_num in board_detail.iter_pages() %}
            {% if page_num %}
                {% if page_num != board_detail.page %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                    </li>
                {% else %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">{{ page_num }}</a>
                    </li>
                {% endif %}
            {% else %}
                <li class="disabled">
                    <a class="page-link" href="#">...</a>
                </li>
            {% endif %}
        {% endfor %}
        <!-- 다음 페이지 -->
        {% if board_detail.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ board_detail.next_num }}">다음</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
            </li>
        {% endif %}
    </ul>
    <a href="write">글쓰기</a>
    <a href="delete">글삭제</a>
</head>
<body>
</body>
</html>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <script type="text/javascript">
            alert("{{messages[0]}}");
            location.href = "/board_detail/{{ board_name }}";
        </script>
    {% endif %}
{% endwith %}
