<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>글쓰기</title>
</head>
<body>

<form name="write" action="/board_detail/{{ board_name }}/write" method="post" autocomplete="off">
    <input type = "hidden" name="board_name" value="{{ board_name }}">
    제목 : <input type="text" name="title" placeholder="제목을 입력해주세요." required>
    작성자 : <input type="text" name="name" value="{{ id }}" readonly required><br><br>
    내용  <br>
    <textarea rows="15" cols="48" name="text" placeholder="내용을 입력해주세요." required></textarea><br>
    <input type="submit" value="글쓰기"><br>
</form>
</body>
</html>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <script type="text/javascript">
            alert("{{messages[0]}}");
            location.href="/board_detail/{{ board_name }}";
        </script>
    {% endif %}
{% endwith %}
