<link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.min.css') }}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
<p class="h1">로그인</p>
<hr>
<!-- 로그인 폼, POST -->
<form name="login" action="/login" method="post" autocomplete="off">
    <div class="form-group col-3">
        <label for="id">아이디 : </label>
        <input type="text" class="form-control" id="id" name="id" required>
        <label for="password">패스워드 : </label>
        <input type="password" class="form-control" id="password" name="password" required><br>
        <input type="submit" class="btn btn-primary mb-2" value="로그인"><br>
        <input type="button" class="btn btn-primary mb-2" value="회원가입" onclick="location.href='signup'">
    </div>
</form>
</body>
</html>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <script type="text/javascript">
            alert("{{messages[0]}}");
            location.href = "/login";
        </script>
    {% endif %}
{% endwith %}
