<link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.min.css') }}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<p class="h1">회원가입</p>
<hr>
<!-- 회원가입 폼, POST -->
<form name="signup" action="/signup" method="post" autocomplete="off">
    <div class="form-group col-3">
        <label for="id">아이디 : </label>
        <input type="text" class="form-control" id="id" name="id" required>
        <label for="password">패스워드 : </label>
        <input type="password" class="form-control" id="password" name="password" required>
        <label for="name">이름 : </label>
        <input type="text" class="form-control" id="name" name="name" required>
        <label for="email">이메일 : </label>
        <input type="email" class="form-control" id="email" name="email" required><br>
        <input type="submit" class="btn btn-primary mb-2" value="회원가입"><br>
    </div>
</form>
</body>
</html>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <script type="text/javascript">
            alert("{{messages[0]}}");
            location.href = "/signup";
        </script>
    {% endif %}
{% endwith %}
