<link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.min.css') }}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시판 생성</title>
    <p class="h1">게시판 생성</p>
    <hr>
    <form name="board_create" action="/board_create" method="post" autocomplete="off">
        <div class="form-group col-3">
            <input type="text" class="form-control" name="board_name" placeholder="게시판 이름을 입력해주세요" required><br>
            <input type="submit" class="btn btn-primary mb-2" value="생성">
        </div>
    </form>
    <a href="/board">게시판 목록</a>
</head>
<body>
</body>
</html>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <script type="text/javascript">
            alert("{{messages[0]}}");
            location.href = "board";
        </script>
    {% endif %}
{% endwith %}
