<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<h1>회원가입</h1>
<hr>
<!-- 회원가입 폼, POST -->
<form name="signup" action="/signup" method="post" autocomplete="off">
    아이디 : <input type="text" name="id" required><br>
    패스워드 : <input	type="password" name="password" required><br>
    이름 : <input	type="text" name="name" required><br>
    이메일 : <input type="email" name="email" required><br>
    <input type="submit" value="회원가입"><br>
</form>
</body>
</html>