<link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.min.css') }}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시판 수정</title>
    <p class="h1">게시판 수정</p>
    <hr>
    <form name="board_edit_name" action="/board_edit/{{ index }}" method="post" autocomplete="off">
        <div class="form-group col-3">
            {% for board in board_list %}
                <input type="text" class="form-control"  name="board_name" value="{{ board.board_name }}" required><br>
                <input type="submit" class="btn btn-primary mb-2" value="수정">
            {% endfor %}
        </div>
    </form>
</head>
<body>
</body>
</html>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <script type="text/javascript">
            alert("{{messages[0]}}");
            location.href = "/board_edit";
        </script>
    {% endif %}
{% endwith %}
