<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시판 생성</title>
    <h1>게시판 생성</h1>
    <hr>
    <form name="board_create" action="/board_create" method="post" autocomplete="off">
        <input type="text" name="board_name" placeholder="게시판 이름을 입력해주세요" required><br>
        <input type="submit" value="생성">
    </form>
</head>
<body>
</body>
</html>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <script type="text/javascript">
            alert("{{messages[0]}}");
            location.href="board";
        </script>
    {% endif %}
{% endwith %}
