<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <h1>게시판</h1>
    <hr>
    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>게시판이름</th>
            <th>최근 게시글</th>
        </tr>
        </thead>
        <tbody>
        <!-- 반복되는 구간 -->
        {% for names in board_list.items %}
            <tr>
                {% set loops = loop.index-1 %}
                <th>{{ loop.index }}</th>
                <td><a href="/board_detail/{{ names.board_name }}">{{ names.board_name }}</a></td>
                <td>{% for recents in recent_content[loops] %}{{ recents.title }} / {% endfor %}</td>
            </tr>
        {% endfor %}
        <!-- 반복되는 구간 끝 -->
        </tbody>
    </table>
    <ul class="pagination justify-content-center">
        <!-- 이전 페이지 -->
        {% if board_list.has_prev %}
            <li class="page-item">
                <a class="page-link" href="?page={{ board_list.prev_num }}">이전</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
            </li>
        {% endif %}
        <!-- 중간 페이지 -->
        {% for page_num in board_list.iter_pages() %}
            {% if page_num %}
                {% if page_num != board_list.page %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                    </li>
                {% else %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">{{ page_num }}</a>
                    </li>
                {% endif %}
            {% else %}
                <li class="disabled">
                    <a class="page-link" href="#">...</a>
                </li>
            {% endif %}
        {% endfor %}
        <!-- 다음 페이지 -->
        {% if board_list.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ board_list.next_num }}">다음</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
            </li>
        {% endif %}
    </ul>
    <a href="board_create">게시판 만들기</a><br>
    <a href="board_edit">게시판 수정</a><br>
    <a href="board_delete">게시판 삭제</a>
</head>
<body>

</body>
</html>