<link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.min.css') }}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>글쓰기</title>
    <p class="h1">글쓰기</p>
    <hr>
</head>
<body>

<form name="write" action="/board_detail/{{ board_name }}/write" method="post" autocomplete="off">
    <div class="form-group col-3">
        <input type="hidden" name="board_name" value="{{ board_name }}">
        <label for="title">제목 : </label>
        <input type="text" class="form-control" id="title" name="title" placeholder="제목을 입력해주세요." required>
        <label for="name">작성자 : </label>
        <input type="text" class="form-control" id="name" name="name" value="{{ id }}" readonly required>
        <label for="text">내용 : </label>
        <textarea rows="15" cols="48" class="form-control" id="text" name="text" placeholder="내용을 입력해주세요." required></textarea><br>
        <input type="submit" class="btn btn-primary mb-2"  value="글쓰기"><br>
        <a href="/board_detail/{{ board_name }}">글 목록</a>
    </div>
</form>
</body>
</html>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <script type="text/javascript">
            alert("{{messages[0]}}");
            location.href = "/board_detail/{{ board_name }}";
        </script>
    {% endif %}
{% endwith %}
